
body {
    background: lightgray;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    font-family: "Franklin Gothic Book", serif;
    font-style: normal;
    color: black;
    padding-bottom: 5px;
}
main {
    margin: 0;
    padding-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
aside {
    width: 100%;
    background-color: lightgray;
}

header {
    width: 100%;
    height: 150px;
}
h1 {
    padding-top: 40px;
    
    background: #6A041D;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 5px black;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
    height: 100px;
}

h2{
    text-align: center;  
}

h3{
    text-align: center;   
}

h4{
    text-align: center;
}

.dropdown{
    position: relative;
    float: right;
}

.set_output{
    display: block;
    width: 10ch;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px; 
    text-align: center; 
    font-size: 14px;
    font-weight: bolder;
    background-color: white;
}

.ofield{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    -webkit-appearance: none;
    border-radius: 10px;
    width: 130px;
    height: 20px;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    margin: 10px;
}

.slider:disabled{
    background-color: darkgray;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:30px;
    height: 20px;
    border-radius: 10px;
    background: black;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

.slider::-webkit-slider-thumb:disabled {
    background-color: gray;
}

.buttons{
    font-size: 25px;
    font-weight: bolder;
    width: 12ch;
}

.modes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set_values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.get_values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.get_output{
    position: relative;
    width: 3ch;
    height: 1ch;
    border: 4px solid black;
    border-radius: 50%;
    padding: 30px 27px 38px 27px;
    text-align: center; 
    font-size: 18px;
    font-weight: bolder;
}

.ifield{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container{
    position: relative;
    width: 700px;
    height: 700px;
    margin: auto;
}

canvas{
    border: 1px solid black;
    background-color: white;
    
}

output {
    background-color: white;
}

@media only screen and (min-width: 1000px) {
    header {
        width: 100%;
    }
    main {
        width: 50%;
    }
    aside {
        background: lightgray;
        width: 50%;
    }
}