  
body {
    background: #F6FFF8;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    font-family: "Franklin Gothic Book", serif;
    font-style: normal;
    color: black;
    padding-bottom: 5px;
}
main {
    margin-top: 50px;
    padding-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
aside {
    width: 100%;
    background-color: #F6FFF8;
    margin-bottom: 50px;
}

.upper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lower{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

header {
    width: 100%;
    height: 100px;
    color: black;
}
h1 {
    padding-top: 40px;    
    background: #6B9080;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 5px black;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
    height: 100px;
}

h2{
    text-align: center;  
}

h3{
    text-align: center;   
}

h4{
    text-align: center;
}

.filter{
    font-weight: bolder;
}

#pre-reg{
    display: block;
    position: relative; 
    float:right;
    border-radius: 5px;
}

#reg{
    border-radius: 5px;
    color: black;
    background-color: #CCE3DE;
}

.logout{
    margin-left: 20px;
    margin-top: 35px;    
}
#btn_log_out{
    margin-bottom: 10px;
    background-color: #6B9080;
    font-weight: bolder;
    color: white;
    height: 30px;
    border-radius: 10px;
    display: none;
}

#btn_reset{
    position: relative;
    float: right;
    border-radius: 5px;
    background-color: #CCE3DE;
    border: 0.5px solid;
    color: black;
}

#user{
    display: none;
    font-weight: bolder;
}

#btn_login{
    background-color: red;
}

.login{
    margin-top: 50px;
    padding-top: 50px;
}

#login-form:valid #btn_login{
    background-color: mediumseagreen;
}

#login-form{
    background-color: white;
    width: 60%;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    border-radius: 10px;
    display: none;
    
}

#acc{
    width: 70%;
    margin: auto;
}

#chart_warn{
    display: none;
    text-align: center;
    color: red;
}

#mon-warn{
    height: 20px;
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: 20px;
    display: none;
}

#pwd-warn{
    color: red;
    display: none;
}

#form-warn{
    color: red;
    display: none;
}

#monitor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 85%;
}

fieldset {
    border-radius: 10px;
    background: #CCE3DE;
    border: 0.5px solid;
}

.set_output{
    display: block;
    width: 10ch;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px; 
    text-align: center; 
    font-size: 14px;
    font-weight: bolder;
    background-color: white;
}

.ofield{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.slider{
    -webkit-appearance: none;
    border-radius: 10px;
    width: 130px;
    height: 20px;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    margin: 10px;
}

.slider:disabled{
    background-color: darkgray;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:10px;
    height: 30px;
    border-radius: 10px;
    background: black;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

.slider::-webkit-slider-thumb:disabled {
    background-color: gray;
}

#buttons{
    display: block;
    font-size: 25px;
    font-weight: bolder;
    width: 12ch;
}

.modes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.set_values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sp_div{
    display: block;
}

.get_values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#set_press{
    margin: auto;
}

#set_speed{
    margin: auto;
}

.get_output{
    position: relative;
    width: 3ch;
    height: 1ch;
    border: 4px solid black;
    border-radius: 50%;
    padding: 30px 27px 38px 27px;
    text-align: center; 
    font-size: 18px;
    font-weight: bolder;
}

.ifield{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#chart-cont{
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

canvas{
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

#user-table{
    display: block;
    margin-bottom: 50px;
    width: 50%;
    margin: auto;
    
}

#log{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

table{
    background-color: #CCE3DE;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

.th.fixed{
    top: 0;
    z-index: 2;
    position: sticky;
}

td{
    text-align: center;
}

output {
    background-color: white;
}

@media only screen and (min-width: 1000px) {
    header {
        width: 100%;
    }
    main {
        width: 50%;
    }
    aside {
        margin-top: 50px;
        background: #F6FFF8;
        width: 50%;
    }
    .lower{
        flex-direction: row;
    }
}

input[type="radio"] {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: #A4C3B2;
    border-radius: 50%;
    box-shadow: 0 0 0 1px black;
}

input[type="radio"]:focus-visible {
    outline-offset: 0;
}

input[type="radio"]:hover{
    border-width: 0;
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 1px black;
    background-color: black;
    border-width: 0.2rem;
}

label {
    cursor: pointer;
    margin-top: 0.2em;
}